// colors
$dark-purple: #8669df;
$dark-green: #3ea680;
$light-green: #a9d3c4;
$dark-gray: #4d4d4d;
$light-gray: #A2A2A2;
$light-gray-btn: #F5F5F5;

// shadow
$shadow-sm: 0px 0.5px 5px 1px rgba(76, 76, 76, 0.15);
$shadow-lg: 0px 0.5px 5px 1px rgba(77, 77, 77, 0.15);

// google fonts
$global_font: "Inter", sans-serif;

// responsive breakpoints
$sm: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;
