@import '../../scss/partials/variable';
@import '../../scss/partials/mixing';


.mob-navbar {
  column-gap: 10px;
  height: 82px;
  box-shadow: $shadow-sm;
  button {
    width: 80px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: $dark-gray;
    &.active {
      background-color: $dark-green;
      color: white;
    }

  }
}

