@import "../../../scss/partials/variable";
@import "../../../scss/partials/mixing";

.Btn {
    border: none;
    background-color: transparent;
}
// title section -----
.Title {
    width: 66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: (34% / 2);
    margin-bottom: 10px;
    .TitleText {
        @include text(16px);
        color: $light-gray-letter;
        text-transform: capitalize;
        margin-bottom: 0px;
        &:nth-child(1) {
          transform: translateX(-20px);
        }
        &:nth-child(2) {
          transform: translateX(15px);
        }
        &:nth-child(3) {
          transform: translateX(32px);
        }
    }
}

// progress bar styles

.ProWrap {
    // full height width
    %f-h-w {
        height: 100%;
        width: 100%;
    }
    // styles -----------
    position: relative;
    height: 8px;
    width: 100%;
    // background
    .ProBg {
        background-color: $light-gray-btn;
        @extend %f-h-w;
        border-radius: 10px;
        .Progress {
            height: 100%;
            width: 10%;
            background-color: $dark-green;
            border-radius: 20px;
        }
    }
    // dot container -----
    .DotWrap {
        position: absolute;
        height: 100%;
        width: 66%;
        left: (34% / 2);
        top: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .Dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $light-gray-letter;
        }
    }
}
