@import "../../../scss/partials/variable";
@import "../../../scss/partials/mixing";

.Btn {
    border: none;
    background-color: transparent;
    & > * {
        font-size: 38px;
        @include resp($lg) {
            font-size: 48px;
        }
    }
    &.disable {
        opacity: 0;
        cursor: initial;
    }
}
// title section -----
.Title {
    width: 66%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: (34% / 2);
    margin-bottom: 10px;
    .TitleText {
        @include text(16px);
        color: $light-gray-letter;
        text-transform: capitalize;
        margin-bottom: 0px;
        &:nth-child(1) {
            transform: translateX(-20px);
        }
        &:nth-child(2) {
            transform: translateX(15px);
        }
        &:nth-child(3) {
            transform: translateX(32px);
        }
        &.active {
            color: $dark-green;
        }
    }
}

// progress bar container
.ProBtnContainer {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    column-gap: 16px;
    height: 50px;
    width: 100%;
    @include resp($lg) {
        column-gap: 50px;
    }
    .btn_1 {
    }
    .ProContainer {
        grid-column: 2/3;
    }
    .btn_2 {

    }
}

// progress bar styles

.ProWrap {
    // full height width
    %f-h-w {
        height: 100%;
        width: 100%;
    }
    // styles -----------
    position: relative;
    height: 8px;
    width: 100%;
    // background
    .ProBg {
        background-color: $light-gray-btn;
        @extend %f-h-w;
        border-radius: 10px;
        .Progress {
            height: 100%;
            width: 17%;
            background-color: $dark-green;
            border-radius: 20px;
            position: relative;
            z-index: 20;
        }
    }
    // dot container -----
    .DotWrap {
        position: absolute;
        height: 100%;
        width: 66%;
        left: (34% / 2);
        top: 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        .Dot {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $light-gray-letter;
        }
    }
}
