@import "../../scss/partials/mixing";
@import "../../scss/partials/variable";

.containerWrap {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    @include mx(auto, auto);
}

.ContentGrid {
    display: grid;
    justify-content: space-between;
    height: 100%;
    // &.name {
    //     grid-template:
    //         "btn" 40px
    //         "content" auto
    //         "progressBar" 50px / 1fr;
    // }
    &.name {
        grid-template:
            "content" auto
            "progressBar" 50px / 1fr;
        @include resp($lg) {
            grid-template:
                "progressBar" 50px
                "content" auto / 1fr;
            row-gap: 64px;
        }
    }
}

.Title {
    @include text(20px);
    text-align: center;
    margin-bottom: 16px;
    color: $dark-gray;
    grid-area: title;
    @include resp($lg) {
        font-size: 24px;
        margin-bottom: 32px;
    }
}

.ContentCard {
    grid-area: content;
    .SecTitle {
        text-align: center;
        text-transform: capitalize;
        @include text(20px);
        color: $dark-gray;
        margin-bottom: 16px;
        @include resp($lg) {
            display: none;
        }
    }
}

.Shadow_card {
    padding: 15px;
    align-self: start;
    @include resp($lg) {
        padding: 32px;
    }
}

.submitBtn {
    grid-area: btn;
    height: 40px;
}

.ProCol {
    display: flex;
    align-items: flex-end;
}

.ProgressBar {
    grid-area: progressBar;
    height: 50px;
}
