@import "../../scss/partials/mixing";
@import "../../scss/partials/variable";

.availability {
    display: grid;
    grid-template: "button" 40px "availab" 1fr "progress" 95px / 1fr;
    height: calc(100vh - (88px + 82px));
    row-gap: 25px;
    @include px(15px, 15px);
    @include py(30px, 30px);
    max-width: 1200px;
    @include mx(auto, auto);
    // for large screen 922px
    @include resp($lg) {
        height: calc(100vh - (104px + 84px));
        grid-template-columns: 80% 20%;
        grid-template-rows: 40px 1fr;
        grid-template-areas:
            "progress button"
            "availab availab";
    }
    @include resp($xl) {
        height: calc(100vh - (104px + 110px));
    }
    // for extra large large screen
    @include resp($xxl) {
        height: calc(100vh - (176px + 110px));
    }
    .btn-wrap {
        grid-area: button;
        width: 100%;
        max-width: 300px;

        @include mx(auto, auto);
        button {
            @include mx(auto, auto);
        }
    }
    .availablity-calender {
        grid-area: availab;
    }
    .step {
        grid-area: progress;
        @include resp($lg) {
            padding-right: 35px;
        }
    }
}
