@import "../../scss/partials/variable";
@import "../../scss/partials/mixing";

.header {
    box-shadow: 0px 0.5px 5px 1px rgba(76, 76, 76, 0.15);
    @include resp($lg) {
        padding-top: 0;
    }
    @include resp($xxl) {
        box-shadow: 0px 1px 5px 1px rgba(77, 77, 77, 0.15);
    }
    nav {
        @include resp($xl) {
            // height: 135px;
        }
        @include resp($xxl) {
            padding-left: 70px !important;
            padding-right: 70px !important;
        }
    }
    .brand_logo {
        width: 52px;
    }
    .brand-title-logo {
        
    }
    // navbar brand
    .navbar-brand {
        width: 152px;
        text-align: right;
        @include resp($xxl) {
            width: 200px;
        }
        @include resp($mxl) {
            width: 252px;
        }
    }
    // navbar
    .navbar {
        .navbar-nav {
            @include resp($lg) {
                column-gap: 80px;
            }
        }
        .nav-item {
            a {
                @include text(20px);
            }
        }
    }
}
