// google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// scss modules
@import "partials/variable";
@import "partials/mixing";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $global_font;
}

a {
    text-decoration: none;
}

// common typography and utility class -----------

.text-16px {
    @include text(16px);
}
.text-12px {
    @include text(12px);
}
.title-20px {
    @include text(20px);
    color: $dark-gray;
    text-transform: capitalize;
}
.my-20px {
    @include my(20px, 20px);
}

%btn {
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.form-change-btn {
    @extend %btn;
    background-color: $light-green;
    color: $dark-gray;
    @extend .text-16px;
    @include px(22px, 22px);
}

// all rounded row and button styles
.round-element {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.round-element-shadow {
    @extend .round-element;
    box-shadow: $shadow-sm;
}

// cards

// common custom class
body {
    height: 100vh;
}

#root {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.shadow-card {
    width: 100%;
    box-shadow: $shadow-sm;
    border-radius: 25px;
    @include resp($lg) {
        box-shadow: $shadow-lg;
    }
}

.max-container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
}

// global form style ----------
.form-wrapper {
    max-width: 360px;
    @include mx(auto, auto);
}
.form-container {
    @include px(15px, 15px);
    @include py(20px, 20px);
}
legend {
    @include text(16px);
    color: $dark-gray;
    text-align: center;
    margin-bottom: 22px;
    img {
        width: 90px;
        margin-left: 5px;
    }
}

// form style
.form-group {
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.form-label {
    @include text(14px);
    color: $dark-gray;
    @include resp($lg) {
        @include text(20px);
        margin-bottom: 16px;
    }
}

.form-control {
    @include px(20px, 20px);
    color: $dark-gray;
    @include text(12px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: $light-gray-btn;
    border-color: $light-gray-btn;
    &:focus {
        border: none;
        box-shadow: none;
        background-color: $light-gray-btn;
    }
    &.invalid {
        border-color: red;
    }
}

// section styles -----------------------
.main-section {
    @include px(15px, 15px);
    @include py(32px, 32px);
    @include resp($lg) {
        @include py(48px, 48px);
    }
}
