// google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// scss modules
@import "partials/variable";
@import "partials/mixing";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $global_font;
}

// common typography

.text-16px {
    @include text(16px);
}

// all rounded row and button styles
.round-element {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.round-element-shadow {
    @extend .round-element;
    box-shadow: $shadow-sm;
}
// common custom class
body {
    height: 100vh;
}

#root {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}

.shadow-card {
    width: 100%;
    box-shadow: $shadow-sm;
    border-radius: 25px;
    @include resp($lg) {
        box-shadow: $shadow-lg;
    }
}

.max-container {
    max-width: 1440px !important;
    margin-left: auto;
    margin-right: auto;
}

.title-20px {
    @include text(20px);
    color: $dark-gray;
    text-transform: capitalize;
}

.main-section {
    @include px(15px, 15px);
    @include py(32px, 32px);
}

// global form style ----------
.form-wrapper {
    max-width: 360px;
    @include mx(auto, auto);
}
.form-container {
    @include px(15px, 15px);
    @include py(20px, 20px);
}
legend {
    @include text(16px);
    color: $dark-gray;
    text-align: center;
    margin-bottom: 22px;
    img {
        width: 90px;
        margin-left: 5px;
    }
}

input.form-control {
    @include px(20px, 20px);
    color: #A2A2A2;
    @include text(12px);
}

// button
