// google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// scss modules 
@import "partials/variable";
@import "partials/mixing";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $global_font;
}



// common custom class 
body {
    height: 100vh;
}

#root {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}


.max-container {
    max-width: 1440px!important;
    margin-left: auto;
    margin-right: auto;
}


.title-20px {
    @include text(20px);
    color: $dark-gray;
    text-transform: capitalize;
}